:root {
    --main-bg-color: #14C6A4;
    --secondary-bg-color: #1C1E26;
    --third-bg-color: #9C9B9A;
}

body {
    font-family: 'Lato', sans-serif;
}

.flickity-button {
    background-color: var(--main-bg-color);
    color: #fff;
}

.flickity-button:focus, .flickity-button:hover {
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0.5rem 1.5rem rgba(22,28,45,.1);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--secondary-bg-color);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-bg-color);
}

.bg-third {
    background-color: var(--third-bg-color);
}


.chinchin-arrow .flickity-button.previous {
    left: -29px;
}

.chinchin-arrow .flickity-button.next {
    right: -29px;
}

.chinchin-arrow .flickity-button.previous::before {
    content: "\e92f";
}


.chinchin-arrow .flickity-button.next::before {
    content: "\e930";
}

.chinchin-arrow .flickity-button {
    font-size: 2em;
    background-color: transparent;
    color: var(--main-bg-color);
}

.owl-carousel .owl-stage{
    margin: auto !important;
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype"); 
}

@font-face {
    font-family: "Lato";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype"); 
}
  