
@media (max-width: 576px) {
    .text-hero-mobile {
        font-size: 3rem;
    }  
}
@media (max-width: 600px) {


    .flickity-button-bottom .flickity-button.previous ,
        .flickity-button-bottom .flickity-button.next  {
     display: none;   
    }
}